<!-- <%- include navbar.ejs%> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Uploader</title>
    <link rel='stylesheet'href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Notes Uploader</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Notes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li id ="li"><a href="Sem-1">Semester-1</a></li>
            <li id ="li"><a href="Sem-2">Semester-2</a></li>
            <li id ="li"><a href="Sem-3">Semester-3</a></li>
            <li id ="li"><a href="Sem-4">Semester-4</a></li>
            <li id ="li"><a href="Sem-5">Semester-5</a></li>
            <li id ="li"><a href="Sem-6">Semester-6</a></li>
            <li id ="li"><a href="Sem-7">Semester-7</a></li>
            <li id ="li"><a href="Sem-8">Semester-8</a></li>
          </ul>
        </li>
        <li id ="li"><a href="upload">Upload</a>
        <li><a href="#">Qn bank</a></li>
        <li><a href="#">Solution</a></li>
      </ul>
    </div>
  </nav>

      <div class="container">
        <h2>Now, Why don't you upload notes and help others.</h2>
        <form method = "post" action="/upload1" enctype="multipart/form-data">
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject" placeholder="Enter subject" name="subject">
          </div>
         
          <select class="form-control form-control-lg" name="Semesters">
            <option>Select Semesters</option>
            <option>Semester-1</option>
            <option>Semester-2</option>
            <option>Semester-3</option>
            <option>Semester-4</option>
            <option>Semester-5</option>
            <option>Semester-6</option>
            <option>Semester-7</option>
            <option>Semester-8</option>
          </select>
          
          <h3>Upload your Files Here.</h3>
    
    <input type="file" id="image" name="image">
    <p></p>
    <button class="upload-button" type="submit">Upload</button>
    
    </form>
       
      </div>

    
  
    
</body>
</html>